<nav>
    <h1 class="title">Admin</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/orders">Orders</a></li>
    </ul>
</nav>
<br><br><br>
<body>
    <div class="addButton" onclick="openAddModal()">
        <i class='bx bxs-plus-square'></i>
    </div>

    <div class="content">
        <div class="services_container">
            {{#each services}}
            <div class="service" onclick="openAdminModal('{{service_id}}', '{{service_name}}', '{{service_description}}', '{{service_img}}', '{{service_price}}')">
                <img src="{{service_img}}" alt="{{service_img}}" class="service_image">
                <p class="service_name">{{service_name}}</p>
                <p class="service_description">{{service_description}}</p>
                <p>{{service_id}}</p>
            </div>
            {{/each}}
        </div>
    </div>

    <div id="adminModal" class="modal">
        <div class="modal_container">
            <div class="modal_content">
                <div class="close_btn">
                    <i class='bx bx-x-circle' onclick="closeAdminModal()"></i>
                </div>
                <div class="pannel_service_img"> 
                    <img id="modalServiceImage">
                </div>
                <h3 id="modalServiceName"></h3>
                <p id="modalServiceDescription"></p>
                <p id="modalServicePrice"></p>
                <p id="modalServiceId"></p>
                <div class="button_container">
                    <button class="option_schedule" onclick="openEditModal()">Edit</button>
                    <button class="option_print" onclick="deleteService()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div id="addModal" class="modal">
        <div class="modal_container">
                    <div class="modal_content">
            <div class="close_btn">
                <i class='bx bx-x-circle' onclick="closeAddModal()"></i>
            </div>
            <h3>Add New Service</h3>
            <form id="addServiceForm" onsubmit="addService(event)" enctype="multipart/form-data">
                <label for="serviceName">Name:</label><br>
                <input type="text" id="serviceName" name="serviceName" required>
                <br><br>
                <label for="serviceDescription">Description:</label><br>
                <textarea id="serviceDescription" name="serviceDescription" required></textarea>
                <br><br>
                <label for="servicePrice">Price:</label><br>
                <input type="number" id="servicePrice" name="servicePrice" required>
                <br><br>
                <label for="serviceImage">Image:</label><br>
                <input type="file" id="serviceImage" name="serviceImage" accept="image/*" required>
                <br><br>
                <div class="button_container">
                    <button type="submit">Add Service</button>
                </div>
            </form>
        </div>
        </div>
    </div>

    <div id="editModal" class="modal">
        <div class="modal_container">
            <div class="modal_content">
                <div class="close_btn">
                    <i class='bx bx-x-circle' onclick="closeEditModal()"></i>
                </div>
                <h3>Edit Service</h3>
                <form id="editServiceForm" onsubmit="editService(event)" enctype="multipart/form-data">
                    <input type="hidden" id="editServiceId" name="serviceId">
                    <label for="editServiceName">Name:</label>
                    <br>
                    <input type="text" id="editServiceName" name="serviceName">
                    <br><br>
                    <label for="editServiceDescription">Description:</label>
                    <br>
                    <textarea id="editServiceDescription" name="serviceDescription"></textarea>
                    <br><br>
                    <label for="editServicePrice">Price:</label>
                    <br>
                    <input type="number" id="editServicePrice" name="servicePrice">
                    <br><br>
                    <label for="editServiceImage">Image:</label>
                    <br>
                    <input type="file" id="editServiceImage" name="serviceImage" accept="image/*">
                    <br><br>
                    <div class="button_container">
                        <button type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>