<header id="scroll_header">
	<div class="logo">
	    <h1 class="logo_side">BK</h1>
	    <div class="logo_stack">
	        <h2 class="text_printing">Printing</h2>
	        <h2 class="text_shop">Shop</h2>
	    </div>
    </div>
</header>


<div class="content">
	<div class="services_container">
		{{#each services}}
	    <div class="service" onclick="openServiceModal('{{this.service_id}}')">
			<img src="{{this.service_img}}" class="service_image">
			<p class="service_name">{{this.service_name}}</p>
			<p class="service_description">{{this.service_description}}</p>
			<p class="service_price">{{this.service_price}} PHP</p>
		</div>
		{{/each}}
	</div>

	<div class="modal" id="serviceModal">
		<div class="modal_container">
			<div class="modal_content">
				<div class="close_btn">
					<i class='bx bx-x-circle' onclick="closeServiceModal()"></i>
				</div>
					<h3 id="modalServiceName"></h3>
				<div class="pannel_service_img"> 
					<img id="modalServiceImage">
				</div>
				<p id="modalServiceDescription"></p>
				<p id="modalServicePrice"></p>
				<div class="button_container">
					<p id="modalServiceId"></p>
					<button class="option_schedule" onclick="openScheduleModal()">Schedule</button>
					<button class="option_print" onclick="optionPrint">Print</button>
				</div>	
			</div>
		</div>
	</div>

	<div class="modal" id="scheduleModal">
		<div class="modal_container">
			<div class="modal_content">
				<div class="close_btn">
					<i class='bx bx-x-circle' onclick="closeScheduleModal()"></i>
				</div>
				<h3>Schedule</h3>
				<form class="schedule_form" onsubmit="scheduleService(event)">
					<label for="scheduleName">Name:</label><br>
					<input type="text" id="scheduleName" required>
					<br><br>
					<label for="scheduleEmailOrNumber">Email or Number:</label><br>
					<input type="text" id="scheduleEmailOrNumber" required>
					<br><br>
					<label for="scheduleDate">Date:</label><br>
					<input type="date" id="scheduleDate" required>
					<br><br>
					<label for="scheduleMessage">Message:</label><br>
					<textarea id="scheduleMessage" required></textarea>
					<br><br>
					<label for="scheduleFile">Upload File:</label><br>
					<input type="file" id="scheduleFile" placeholder="Upload File" required>
					<br><br>
					<div class="button_container">
						<button class="schedule_btn" type="submit">Confirm</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal" id="printModal">
		<div class="modal_container">
			<div class="modal_content">
				<div class="close_btn">
					<i class='bx bx-x-circle' onclick="closePrintModal()"></i>
				</div>
				<h3>Print</h3>
				<form class="print_form" onsubmit="printService(event)">
					<label for="printName">Name:</label><br>
					<input type="text" id="printName" required>
					<br><br>
					<label for="printEmailOrNumber">Email or Number:</label><br>
					<input type="text" id="printEmailOrNumber" required>
					<br><br>
					<label for="printMessage">Message:</label><br>
					<textarea id="printMessage" required></textarea>
					<br><br>
					<label for="printFile">Upload File:</label><br>
					<input type="file" id="printFile" placeholder="Upload File" required>
					<br><br>
					<div class="button_container">
						<button class="print_btn" type="submit">Confirm</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal" id="receiptModal">
	    <div class="modal_container">
	        <div class="modal_content">
	            <div class="close_btn">
	                <i class='bx bx-x-circle' onclick="closereceiptModal()"></i>
	            </div>
	            <h3>Receipt</h3>
	            <p><strong>Order ID:</strong> <span id="receiptOrderId"></span></p>
	            <p><strong>Service Name:</strong> <span id="receiptServiceName"></span></p>
	            <p><strong>Customer Name:</strong> <span id="receiptCustomerName"></span></p>
	            <p><strong>Contact:</strong> <span id="receiptEmailOrNumber"></span></p>
				<p><strong>Print or Schedule:</strong> <span id="receiptPrintForSchedule"></span></p>
	        </div>
	    </div>
	</div>

</div>
<script src="js/home.js"></script>