<header id="scroll_header">
	<div class="logo">
	    <h1 class="logo_side">BK</h1>
	    <div class="logo_stack">
	        <h2 class="text_printing">Printing</h2>
	        <h2 class="text_shop">Shop</h2>
	    </div>
    </div>
</header>


<div class="content">
	<div class="services_container">
		{{#each services}}
	    <div class="service" onclick="openServicePanel('{{this.service_id}}')">
			<img src="{{this.service_img}}" class="service_image">
			<p class="service_name">{{this.service_name}}</p>
			<p class="service_description">{{this.service_description}}</p>
			<p class="service_price">{{this.service_price}} PHP</p>
		</div>
		{{/each}}
	</div>

	<div id="servicePanel" class="panel">
		<div class="panel_content">
			<div class="close_btn">
				<i class='bx bx-x-circle' onclick="closePanel()"></i>
			</div>
			<div class="pannel_service_img"> 
				<img id="panelServiceImage">
			</div>
			<h3 id="panelServiceName"></h3>
			<p id="panelServiceDescription"></p>
			<p id="panelServicePrice"></p>
			<div class="buttonContainer">
				<button class="option_schedule" onclick="optionSchedule()">Schedule</button>
				<button class="option_print" onclick="optionPrint">Print</button>
			</div>	
		</div>
	</div>
</div>
	<script src="js/script.js"></script>