<nav>
    <div class="nav-container">
        <h1 class="title">Orders</h1>
        <input type="text" id="searchBar" placeholder="Search orders..." onkeyup="filterOrders()">
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/history">History</a></li>
    </ul>
</nav>
<br><br><br><br><br><br><br>

<div id="ordersContainer">
    {{#each orders}}
    <div class="orders" onclick="openOrderModal({{order_id}})">
        <div><h3>#{{order_id}}</h3></div>
        <div><p>{{order_name}}</p></div>
        <div><p>{{order_date}}</p></div>
        <div><p>{{order_mode}}</p></div>
    </div>
    {{/each}}
</div>

<div class="modal" id="orderModal">
    <div class="modal_container">
        <div class="modal_content">
            <div class="close_btn">
                <i class='bx bx-x-circle' onclick="closeOrderModal()"></i>
            </div>
            <h3 id="modalOrderReferenceId"></h3>
            <p><strong>Service Name:</strong> <span id="modalOrderName"></span></p>
            <p><strong>Date:</strong> <span id="modalOrderDate"></span></p>
            <p><strong>Customer Name:</strong> <span id="modalCustomerNamne"></span></p>
            <p><strong>Mode:</strong> <span id="modalOrderMode"></span></p>
            <div class="button_container">
                <button class="option_print" onclick="printOrder()">Print Order</button>
                <button class="option_delete" onclick="deleteOrder()">Delete Order</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="printOrderModal">
    <div class="modal_container">
        <div class="modal_content">
            <h3>Order Details</h3>
            <p><strong>Reference Id:</strong> <span id="printOrderReferenceId"></span></p>
            <p><strong>Service Name:</strong> <span id="printOrderName"></span></p>
            <p><strong>Date:</strong> <span id="printOrderDate"></span></p>
            <p><strong>Customer Name:</strong> <span id="printCustomerName"></span></p>
            <p><strong>Contact:</strong> <span id="printCustomerContact"></span></p>
            <p><strong>Mode:</strong> <span id="printOrderMode"></span></p>
            <p><strong>File:</strong> <span id="printOrderFile"></span></p>
            <p><strong>Message:</strong> <span id="printOrderMessage"></span></p>
            <div class="button_container">
                <button class="confirm_print" onclick="confirmPrint()">Confirm Print</button>
                <button class="close_print" onclick="closePrintOrderModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="js/orders.js"></script>
